body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: black;
}

.banniere img {
    border-radius: 10px;
    width: 1900px;
    height: 200px;

}


nav {
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;


}
.section {
display: flex;
    

}

h1 {
    background-color: beige;
    border-radius: 30px;
    width: 200px;
    justify-content: center;
    text-align: center;
    padding: 30px;
    display: flex;
    opacity: 75%;

}

.menu {
    background-color: lightgrey;
    font-family: arial;
    weight: 50px;
    color: black;
    font-size: 1 em;
    font-weight: 100;
    border-radius: 10px;
    border: 2px solid black;
    width: 300px;
    text-align: center;
    margin: 5px;
}

nav ul li {
    list-style: none;
    padding: 1em;
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: bold;


}

nav ul li a {
    text-decoration: none;
    color: black;

}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 28px;
    height: 18px;
    cursor: pointer;
    margin-left: auto;
}

.nav-toggle-label span {
    display: block;
    height: 3px;
    background: #f00202;
    border-radius: 2px;
}

.acceuil {
    background-color: lightgrey;
    justify-content: center;
    text-align: center;
    width: 800px;
    margin: 10px;


}

.acceuil img {
    width: 200px;
}

.acceuil h2 {
    background-color: #880101;
}


.red p {
    color: red;
}